.drop-down-label {
    position: absolute;
    right: 20%;
    top: 25%;
}

.rDate-drop-down-label {
    position: absolute;
    right: 50%;
    top: 25%;
}

 .report-date-selector {
    border-radius: 25px;
    background: white;
    padding: 3px;
    width: 120px;
    text-align-last: center;
}

.report-date-option{
    text-align-last: center;
}