<simple-notifications [options]="options"></simple-notifications>
<div class="bg">
    <nav class="navbar" *ngIf="hasSignedIn">
        <img src="/assets/images/eMembler_Logo.png" alt="eMembler Logo" style="width: 100px; height: 25px;">
        <div class="navbar-expand ml-auto navbar-nav">
            <div class="navbar-nav">
                <div class="btn-group">
                    <a class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="userinfo">{{email}}</span>&nbsp;
                        <i class="fa fa-user-circle fa-2x" style="color: aliceblue; cursor: pointer;"></i>
                    </a>
                    <span class="dropdown-menu dropdown-menu-right dropdown-menu-info" style="cursor: pointer;z-index: 3">
                        <a class="dropdown-item" (click)="resetPassword()">
                            <i class="fa fa-key">&nbsp;&nbsp;</i>
                            Reset Password
                        </a>
                        <div class="dropdown-divider" style="cursor: pointer;"></div>
                        <a class="dropdown-item" (click)="logout()">
                            <i class="fa fa-power-off">&nbsp;&nbsp;</i>
                            Logout
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>