.goal-table{
    margin-top: 0.85rem;
}

.fy-dropdown{
    margin-top: 6px;
    width: 100% !important;
    margin-bottom: -10px;
    justify-content: flex-end;
}

.fy-dropdown label{
    margin:0px 0px 15px -13px;
    font-size:13px;
    font-weight: 500;
}