.container{
  min-width: 400px;
  max-width: 500px;
  min-height: 300px;
  vertical-align: middle;
  margin: 100px auto;
  border-radius: 5px;
  background-color: #31464c !important;
}

.sign-in{
  color:cornsilk;
  padding: 6% 0% 0% 3%;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
  background-color: #31464c !important;
}

.form-control {
  color: #fff !important;
  border-color: white !important;
}

.input-group-text {
  color: white !important;
}

.main-background {
  height:-webkit-fill-available;
  padding:0px!important;
  background-image: url('/assets/images/ascend-bg.jpg');
  background-position: center center;
  background-size: cover;
}